@model SCManager.ViewModels.MyComponents.IndexViewModel

@{
    ViewData["Title"] = "My components";
}

<input type="email" class="form-control" id="filterInput" aria-describedby="elementhelper" placeholder="Search for element name..." onkeyup="filterElements()">

<br />

<div class="card">
    <a type="button" class="btn btn-outline-primary" asp-area="" asp-controller="MyComponents" asp-action="MyComponent">Add component</a>
</div>
<br />

<div id="cardsContainer">

    @foreach (var component in Model.Components)
    {
        <div class="card border-left-success shadow h-100 py-2" style="margin-bottom: 15px">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                            <a asp-area="" asp-controller="MyComponents" asp-action="MyComponent" asp-route-userComponentTypeId="@component.Id">
                                @component.Name x @component.Quantity
                            </a>
                        </div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">@component.ValueType: @component.Value @component.Multiplier@component.Unit</div>
                    </div>
                    <div class="col-auto">
                        <span class="float-right">Total price: @component.TotalPrice</span>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

<script>
    function filterElements() {
        // Declare variables
        var input = document.getElementById('filterInput');
        var filter = input.value.toUpperCase();

        var container = document.getElementById("cardsContainer");
        var elements = container.getElementsByClassName("card border-left-success shadow h-100 py-2");

        for (var index = 0; index < elements.length; index++) {
            var textElements = elements[index].getElementsByClassName("text-xs font-weight-bold text-success text-uppercase mb-1");
            var textValue = textElements[0].textContent || textElements[0].textContent;
            if (textValue.toUpperCase().indexOf(filter) > -1) {
                elements[index].style.display = "";
            }
            else {
                elements[index].style.display = "none";
            }
        }
    }
</script>