@model SCManager.ViewModels.Admin.IndexViewModel

@{
    ViewData["Title"] = "Admin panel";
}

<div class="accordion" id="accordionExample">

    @* POSTS EDITOR PANEL *@
    <div class="card">
        <div class="card-header" id="headingOne">
            <h2 class="mb-0">
                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    Users
                </button>
            </h2>
        </div>
        <div class="card-header" id="headingTwo">
            <h2 class="mb-0">
                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                    Component types
                </button>
            </h2>
        </div>
        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
            @*<a class="nav-link" asp-area="" asp-controller="Admin" asp-action="PostEditor">Create new post</a>*@

            <div class="card shadow mb-4">
                <div class="card-body">
                    <!-- USERS TABLE -->
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable_Users" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>Username</th>
                                    <th>Role</th>
                                </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                    <th>Username</th>
                                    <th>Role</th>
                                </tr>
                            </tfoot>
                            <tbody>
                                @foreach (var user in Model.Users)
                                {
                                    <tr>
                                        <td>@user.UserName</td>
                                        <td>
                                            @{
                                                if (user.IsAdmin)
                                                {
                                                    <a href="#" onclick="setUserRole('@user.Id', 'Admin')">Set as User</a>
                                                }
                                                else
                                                {
                                                    <a href="#" onclick="setUserRole('@user.Id', 'User')">Set as Admin</a>
                                                }
                                            }
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <!-- USERS TABLE -->
                </div>
            </div>
        </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
            @*<a class="nav-link" asp-area="" asp-controller="Admin" asp-action="PostEditor">Create new post</a>*@

            <div class="card shadow mb-4">
                <div class="card-body">
                    <!-- COMPONENT TYPES TABLE -->
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable_ComponentTypes" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>Image</th>
                                    <th>Name</th>
                                </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                    <th>Image</th>
                                    <th>Name</th>
                                </tr>
                            </tfoot>
                            <tbody>
                                @foreach (var type in Model.ComponentTypes)
                                {
                                    <tr>

                                        <td><img src=@type.ImageUrl class="rounded-circle" alt="@type.Name"></td>
                                        <td>@type.Name</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <!-- COMPONENT TYPES TABLE -->
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function setUserRole(userId, role) {
        $.ajax({
            url: '/Admin/SetUserRole',
            type = 'POST',
            contentType = 'application/json; charset=utf-8',
            headers = {
                RequestVerificationToken:
                    $('input:hidden[name="__RequestVerificationToken"]').val()
            },
            data: { "userId": userId, "role": role }
        })
            .done(function (result) {
            });

    }
</script>