@model SCManager.ViewModels.Home.PostViewModel

@{
    ViewData["Title"] = "Home Page";
}

<br />

@for (var index = 0; index < Model.PostLists.Count; index++)
{
    var list = Model.PostLists.ElementAtOrDefault(index);
    if (list == null || list.Count < 1)
        continue;

    <div id="carouselExampleIndicators_@index" class="carousel slide" data-ride="carousel" data-interval="4000">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators_@index" data-slide-to="0" class="active"></li>

            @for (var innerIndex = 1; innerIndex < list.Count(); innerIndex++)
            {
                <li data-target="#carouselExampleIndicators_@index" data-slide-to="@innerIndex"></li>
            }
        </ol>
        <div class="carousel-inner">
            @{ var defaultItem = list.FirstOrDefault(); }
            <div class="carousel-item active">
                <div class="card mb-3">
                    <div class="row no-gutters">
                        <div class="col-md-4">
                            <img src="@defaultItem.ImagePath" class="card-img" alt="@defaultItem.Name" height="200">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">@defaultItem.Name</h5>
                                <p class="card-text">@defaultItem.Description</p>
                                <p class="card-text"><small class="text-muted">@defaultItem.DateTime</small></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            @for (var innerIndex = 1; innerIndex < list.Count(); innerIndex++)
            {
                var item = list.ElementAtOrDefault(innerIndex);
                <div class="carousel-item">
                    <div class="card mb-3">
                        <div class="row no-gutters">
                            <div class="col-md-4">
                                <img src="@item.ImagePath" class="card-img" alt="@item.Name" height="200">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">@item.Name</h5>
                                    <p class="card-text">@item.Description</p>
                                    <p class="card-text"><small class="text-muted">@item.DateTime</small></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators_@index" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators_@index" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>

    <br />
}