@model SCManager.ViewModels.Home.IndexViewModel

@{
    ViewData["Title"] = "Home Page";
}

<!-- Content Row -->
<div class="row">

    <!-- Content Column -->
    <div class="col">

        <!-- Project Card Example -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Elements data</h6>
            </div>
            <div class="card-body">

                @{ int index = 0; }
                @foreach (var type in Model.ComponentTypes)
                {

                    string color = index switch
                    {
                        0 => "bg-danger",
                        1 => "bg-warning",
                        2 => "",
                        3 => "bg-info",
                        4 => "bg-success",
                        _ => ""
                    };

                    string width = $"{type.QuantityPercentage}%";
                    string info = $"{type.TypeName} x {type.Quantity}";
                    string price = $"Total price: {type.TotalPrice}";

                    <h4 class="small font-weight-bold">@info<span class="float-right">@price</span></h4>
                    <div class="progress mb-4">
                        <div class="progress-bar @color" role="progressbar" style="width: @width" aria-valuenow="@type.Quantity" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>

                    index += 1;
                    index = index > 4 ? 0 : index;
                }
            </div>
        </div>
    </div>
</div>

<div class="row">
    <!-- Area Chart -->
    <div class="col">
        <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Elements statistics</h6>
            </div>
            <!-- Card Body -->
            <div class="card-body">
                <div class="chart-area">
                    <canvas id="myAreaChart"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>